%h3 云仓百货卖家注册协议
本协议中协议双方合称协议方，齐齐哈尔中古商贸有限责任公司在协议中称为中古商贸。云仓网店指由齐齐哈尔中古商贸有限责任公司运营的网络交易平台。卖家为由授权店招聘可在属于授权店主的云仓网店交易的卖家。授权店为经中古商贸授权，运行CI效益共享系统的商家。
一、 协议内容及签署
1.本协议内容包括协议正文及所有中古商贸已经发布的或将来可能发布的各类规则。所有规则为本协议不可分割的组成部分，与协议正文具有同等法律效力。除另行明确声明外，任何中古商贸及其关联公司提供的服务均受本协议约束。
2.您应当在使用云仓网店服务之前认真阅读全部协议内容，对于协议中以加粗字体显示的内容，您应重点阅读。如您对协议有任何疑问的，应向中古商贸咨询。只要您使用云仓网店服务，则本协议即对您产生约束，届时您不应以未阅读本协议的内容或者未获得中古商贸对您问询的解答等理由，主张本协议无效，或要求撤销本协议。
3.您承诺接受并遵守本协议的约定。如果您不同意本协议的约定，您应立即停止注册程序或停止使用云仓网店服务。
4.中古商贸有权根据需要不时地制订、修改本协议及/或各类规则，并以网站公示的方式进行公告，不再单独通知您。变更后的协议和规则一经在网站公布后，立即自动生效。如您不同意相关变更，应当立即停止使用云仓网店服务。您继续使用云仓网店服务的，即表示您接受经修订的协议和规则。
二、 注册信息管理


1.本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国法律，如无相关法律规定的，则应参照通用国际商业惯例和（或）行业惯例。
2.因本协议产生之争议，应依照中华人民共和国法律予以处理，并以黑龙江省齐齐哈尔市龙沙区人民法院为第一审管辖法院。
