
%h2 时代微商卖家注册协议
%p 
  本协议本着自愿、公平、诚实、信用的原则、根据中华人民共和国有关法律、法规的规定，本协议由双方共同遵守。
  时代微商是时代集团有限公司下属运营网络营销交易平台，卖家由时代微商授权店为网络交易，卖家未经时代微商授权与核实视为无权卖家。
%h4 一、 协议内容
%p 1.本协议内容包括协议正文及所有时代微商已经发布的或将来可能发布的各类规则。所有规则为本协议不可分割的组成部分，与协议正文具有同等法律效力。除另行明确声明外，

%p 2.当您在使用时代微商服务之前认真阅读全部协议内容，如您对协议有任何疑问的，应向时代微商咨询。只要您使用时代微商服务，则本协议即对您产生约束，届时您不应以未阅读本协议的内容或者未获得时代微商对您问询的解答等理由，主张本协议无效，或要求撤销本协议。

%h4 二、 注册信息管理

%p
  1.真实合法 <br/>

  凡注册成为时代微商卖家/授权店，应当是具备完全民事权利能力和完全民事行为能力的自然人、法人或其他组织，为保证每个用户的合法权益，规定每个自然人、法人或其他组织同时只能注册一个账号， 便于公司联系，你义务保证信息的真实性、否则导致一切后果公司有权注销您的账户，后果自负。

%p 
  2.注册资格 <br/>

  只有时代微商销售网点（授权店）拥有注册资格。卖家注册资格年费为：890元/年会员费。卖家拥有推荐授权店、推荐时代微商卖家和注册时代微商会员的资格。

%h4 三、 时代微商服务

%p 1.通过时代微商提供的网店服务和其它服务，卖家可在时代微商网店上发布商品信息、查询商品和服务信息、达成交易意向、及技术服务。

%p 2.您了解并同意，时代微商有权应政府部门（包括司法及行政部门）的要求，向其提供您在时代微商网店填写的注册信息和交易纪录等必要信息。如您涉嫌侵犯他人知识产权，则时代微商亦有权在初步判断涉嫌侵权行为存在的情况下，向权利人提供您必要的身份信息。

%h4 四、法律适用、管辖。
%p 1、本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国法律，如相关法律规定的，则应参照通用国际商业惯例
%p 2、本协议产生之争议，应依照中华人民共和国法律予以处理，并以当地人民法院为第一审管辖法院


</pre>
