:javascript
  $(document).ready(function(){
    $('#gostep1').click(function(){ $(this).parents('.step').addClass('hide').next().removeClass('hide') })
    $('#gostep2').click(function(){ $(this).parents('.step').addClass('hide').next().removeClass('hide') })
  })
%div.page-header
  %h1 我要销售

%div#step1.step
  %button.btn.btn-primary#gostep1 开始销售

%div#step2.step.hide
  %div
    %div.well
      销售协议
  %button.btn.btn-primary#gostep2 同意

%div#step3.step.hide
  %div
    =render 'form'
